<!-- .game -->

<canvas id="cursorOverlay"></canvas>
<div id="blocker">
    <div id="instructions">
    <span id="progress" style="font-size:40px">Click to play</span>
    <br />
    (W, A, S, D = Move, SPACE = Boost, MOUSE = Look around)
    </div>
</div>
<div id="spinner">100/100</div>
<div class="radar">
  <div class="x"></div>
  <div class="ring ring-1"></div>
  <div class="ring ring-2"></div>
  <div class="ring ring-3"></div>
  <div class="ring ring-4"></div>
  <div class="ring ring-5"></div>
  <div class="ring ring-6"></div>
  <div class="ring ring-7"></div>
  <div class="ring ring-8"></div>
  <div class="ring ring-9"></div>
  <div class="ring ring-10"></div>
  <div class="target target-1"></div>
</div>