<!-- .launcher -->
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Sign In</a></li>
      <li><a data-toggle="modal" class="fb-signup"></a></li>
    </ul>
    <h3 class="text-muted">Space Bees</h3>
  </div>

  <div class="row marketing content">    
    <div class="col-lg-12">
      <h1>Shoot Aliens</h1>
      <p class='lead'>It's great!</p>
      <p><a class="btn btn-success" href="#">Play Now!</a></p>
    </div>

  </div>

  <div class="footer">
    <p>&copy; Benjamin Yu 2013</p>
  </div>

</div> <!-- /container -->