<!-- .launcher -->
<div class="container col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-ml-6 col-ml-offset-3 col-lg-6 col-lg-offset-3">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <!--<li class="active"><a href="#">Sign In</a></li>
      <li><a data-toggle="modal" class="fb-signup"></a></li> -->
    </ul>
    <h3 class="text-muted">Space Bees</h3>
  </div>

  <div class="row marketing content">    
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-ml-6 col-ml-offset-3 col-lg-6 col-lg-offset-3">
      <h1>Shoot Aliens</h1>
      <p class='lead'>It's great!</p>
      <p><a class="btn btn-success" href="#">Play Now!</a></p>
    </div>

  </div>

  <div class="footer">
    <p>&copy; Benjamin Yu 2013</p>
  </div>

</div> <!-- /container -->