<!-- .launcher -->

<div class="header">
  <div class="wrapper clearfix">
    <div class="col3of4">
      <ul class="header-navigation">
        <li class="current">
          <a href="#">Space Bees</a>
        </li>
        <li>
          <a href="#">Tic Tac Toe</a>
        </li>
      </ul>
    </div>
    <div class="col1of4 header-controls">
        <a href="#">Sign In</a>
        <span class="phs">/</span>
        <a href="#">Register</a>
        <span class="delimiter phs"> or</span>
        <a class="fb-signup" href="/auth/facebook"></a>
    </div>
  </div>
</div>
<div class="content">
  <div class="col1of4">
    <div class="site-info-links">
            &nbsp;
          </div>
  </div>
  <div class="col1of2">
    <div class="form-row clearfix">
      <h1><strong>Map Selection</strong></h1>
    </div>
      <div class="col1of4">&nbsp;</div>
      <div class="col2of4 slideshow js-slideshow">
        <div class="slideshow-slides-wrapper">
          <ul class="slideshow-slides js-slideshow-slides" style="width: 1632px; left: -816px;">
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide-2.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide-3.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide-2.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
            <li class="each-slide js-slideshow-slide" style="background-image: url('images/slideshow/test-slide-3.jpg')">
              <div class="slide-description">
                Elephants never forget
              </div>
            </li>
          </ul>
        </div>
        <div class="show-slide prev js-slideshow-prev-slide"></div>
        <div class="show-slide next js-slideshow-next-slide"></div>
      </div>
      <div class="col1of4">&nbsp;</div>
      <div class="form-row clearfix"/>
      <h1><strong>Options</strong></h1>
      <div class="radiogroup js-radiogroup-1">
          <div class="col1of3">
            <div class="radio-light js-radio checked">
              Low
            </div>
          </div>
          <div class="col1of3">
            <div class="radio-light js-radio checked">
              Medium
            </div>
          </div>
          <div class="col1of3">
            <div class="radio-light js-radio checked">
              High
            </div>
          </div>
        </div>
    <div class="form-row clearfix"/>
    <div class="col1of5">&nbsp;</div>
    <a class="col3of5 button-huge positive">
      PLAY NOW
      <span class="button-description">Normal</span>
    </a>
    <div class="col1of5">&nbsp;</div>
  </div>
</div>