#counter {
    position: absolute;
    z-index: 1;
}

#speed {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 80px;
    font: bold 25px/50px Sans-Serif;
    text-align: center;
    line-height: 100px;
    color: white;
}